@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --text-color: hsl(150, 100%, 66%);
  --advice-dice-color: hsl(150, 100%, 66%);
  --advice-card-color: hsl(217, 19%, 24%);
  --background-color: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  font-weight: 800;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 450px;
}

.advice-card {
  display: flex;
  background-color: var(--advice-card-color);
  border-radius: 15px;
  flex: 0;
  height: 300px;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.advice-title {
  color: var(--text-color);
  font-size: 0.85em;
  text-align: center;
}

.advice-text {
  color: white;
  text-align: center;
  margin: 3%;
}

.advice-update {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--advice-dice-color);
  transform: translateY(-50%);
}
.advice-update:hover {
  color: #53ffab;
  cursor: pointer;
  box-shadow: 0 5px 15px var(--advice-dice-color);
}

img.divider {
  width: 400px;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .container {
    width: 80%;
  }
  .top-text {
    width: fit-content;
  }
  img.divider {
    width: 250px;
  }
}
