html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 25px solid transparent;
  border-image: url("../images/texture-border.jpg") 50;
}

/* HEADER */

.header {
  display: flex;
  padding: 20px;
  align-items: center;
  padding: 10px;
  margin: 0 25px 0;
  height: 150px;
  text-align: center;
}

.header img {
  width: 105px;
  height: 126px;
}

.header .head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.header .head-text h1 {
  font-size: 2.1rem;
}

/* MID-SEC */

.mid-sec {
  display: flex;
  flex-direction: column;
}

.mid-sec h2 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  border: 5px double #fff;
  padding: 5px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.mid-sec .pages-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mid-sec .pages-wrap .pages {
  width: 283px;
  height: 225px;
  gap: 50px;
  background: url(../images/scroll-bg.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 20px;
  position: relative;
}

.mid-sec .pages-wrap .pages .multi-page, .single-page  {
  max-width: 180px;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  transition: 0.3s;
  color: #000;
}

.mid-sec .single-page:hover {
  color: #ff2121;
}




.mid-sec .pages-wrap label {
  justify-content: center;
  max-width: 180px;
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.mid-sec .pages-wrap label:hover {
  color:#ff2121
}

/* MENU BASICO */

#html-css-basico {
  display: none;
}

.pages.basico {
  position: relative;
}

.basico .menu-basico {
  display: none;
  position: absolute;
  padding: 25px 15px;
  left: 55px;
}

.pages .menu-basico {
  display: none;
}

.pages .menu-basico .multi-page:hover {
  color: #ff2121;
 }

.pages .menu-basico a span {
  color: #ec2c2ca5;
}

.pages.basico input[type="checkbox"]:checked ~ label {
  position: absolute;
  top: 0;
  left: 0;
}

.pages.basico input[type="checkbox"]:checked ~ label span {
  display: none;
}

.pages.basico input[type="checkbox"]:checked ~ label::after {
  content: "X";
  position: absolute;
  top: 0;
  left: 15px;
  background-color: red;
  color: white;
  padding: 4px;
}

.pages.basico input[type="checkbox"]:checked ~ .menu-basico {
  display: block;
}

/* MENU ADVANCED  */

#flexbox {
  display: none;
}

.pages.advanced {
  position: relative;
}

.advanced .menu-flex {
  display: none;
  position: absolute;
  padding: 25px 10px;
  left: 55px;
}

.pages .menu-flex {
  display: none;
}

.pages .menu-flex .multi-page:hover {
 color: #ff2121;
}

.pages .menu-flex a span {
  color: #ec2c2ca5;
}

.pages.advanced input[type="checkbox"]:checked ~ label {
  position: absolute;
  top: 0;
  left: 0;
}

.pages.advanced input[type="checkbox"]:checked ~ label span {
  display: none;
}

.pages.advanced input[type="checkbox"]:checked ~ label::after {
  content: "X";
  position: absolute;
  top: 0;
  left: 15px;
  background-color: red;
  color: white;
  padding: 4px;
}

.pages.advanced input[type="checkbox"]:checked ~ .menu-flex {
  display: block;
}

/* FOOTER  */

.footer {
  padding: 15px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .socials a {
  font-size: 2rem;
  background: -webkit-linear-gradient(rgb(180, 174, 182), rgb(151, 180, 205));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .socials a:hover {
  background: -webkit-radial-gradient(rgb(226, 90, 90), rgb(194, 52, 194));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
